

<!-- 
<app-ejercicio></app-ejercicio> -->

<!-- <h1>{{this.titulo}}</h1>

<h2 [ngClass]="{p1:this.cantidad >3, p2:this.cantidad < 6,  p3:this.cantidad >3}">Utilizando ngClass</h2> -->

<!-- <h2 [class]="this.claseColorAzul">Etiqueta de color</h2>

<button (click)="this.cambiarColor()">Cambiar color</button>

<h3>{{this.binding}}</h3>

<input type="text" [(ngModel)]="binding"> -->

<!-- <h3 *ngIf="this.valor_ng_if">Elemento que aparece o desaparece</h3> -->

<!-- <p *ngFor="let usuario of usuarios">Id de usuario: {{usuario.id_usuario}}, nombre_usuario: {{usuario.nombre_usuario}}</p> -->

<!-- <div *ngFor="let cliente of clientes">
    <p *ngIf="cliente.categoria_cliente == 'principal' || cliente.categoria_cliente == 'nuevo'"  [ngClass]="{verde: cliente.categoria_cliente == 'principal', azul: cliente.categoria_cliente == 'nuevo'}"       >
        
        id_cliente: {{cliente.id_cliente}}, nombre_cliente: {{cliente.nombre_cliente}}, categoria: {{cliente.categoria_cliente}} 
    </p>
</div>


<button (click)="cambiarNgIf()">Modificar ngIf</button> -->

<!-- <div class="row">
  <div class="example-label">Raised</div>
  <div class="example-button-row">
    <button mat-raised-button>Basic</button>
    <button mat-fab color="primary">Primary</button>
    <button mat-raised-button color="accent">Accent</button>
    <button mat-raised-button color="warn">Warn</button>
    <button mat-raised-button disabled>Disabled</button>
    <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>
  </div>
</div> -->

<app-navbar></app-navbar>

<br>

<app-padre></app-padre>

<!-- <br>
<div class="row">
  <a routerLink="crearUsuario">Ir a crear usuario</a>
</div> -->



<router-outlet></router-outlet>
