<form [formGroup]="this.formCrearUsuario">
    <div class="row">
        <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="nombre">
        </mat-form-field>
        <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Apellido</mat-label>
            <input matInput formControlName="apellido">
        </mat-form-field>
    </div>
    <div class="row">
        <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Tipo documento</mat-label>
            <input matInput formControlName="tipo_doc">
        </mat-form-field>
        <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Numero de documento</mat-label>
            <input matInput formControlName="numero_doc">
        </mat-form-field>
    </div>
    <div class="row">
        <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>email</mat-label>
            <input matInput formControlName="email">
        </mat-form-field>
        <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Telefono</mat-label>
            <input matInput formControlName="telefono">
        </mat-form-field>
    </div>
    <div class="row">
        <button mat-raised-button color="primary" (click)="submit()">Primary</button>
    </div>
</form>